@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@900&display=swap');

@media (width < 600px) {
  p{
    text-align: justify;
    word-wrap: break-word;
    letter-spacing: 0.05em; 
  }
  .br-pc{
    display: none;
  }
}
@media (600px <= width < 1050px) {
  .br-sp, .br-pc{
    display: none;
  }
  .br-tab{
    display: block;
  }
}
@media (1050px <= width) {
  p{
    text-align: center;
    word-wrap: break-word;
  }
  .br-sp, .br-tab{
    display: none;
  }
  .br-pc{
    display: block;
  }
}

p{
  font-family: sans-serif; 
  font-weight: 500; 
  line-height: 1.5; 
  font-size: 14px;
  margin-left: 1em; 
  margin-right: 1em;
}

.header-logo{
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  height: 50px;
}

.logo{
  width: 100%;
}

.hero{
  overflow: hidden;
  position: relative;
  background: url(../img/plugin/BG.webp);
  background-size: 130% 110%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero:after{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.138);
}

.container{
  display: grid;
  place-items: center;
  z-index: 1;
  height:380px;
  max-width: 720px;
  padding: 30px 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.089);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.20 );
}

@media (width < 600px){
  .container{
    width: 90vw;
    height: 580px;
    padding: 30px 0px;
  }
}

@media (600px <= width < 1025px){
  .container{
    width: 600px;
    height: 460px;
  }
}

@media (1025px <= width){
  .container{
    width: 720px;
    height: 480px;
  }
}

.content h1{
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-family: 'Zen Maru Gothic', sans-serif;
  color: transparent;
  font-weight: bold;
  -webkit-text-stroke: 2px #FFF;
  text-shadow: 4px 4px 0 rgba(244, 244, 244, 0.24);
  margin-bottom: 0px;
}

.content h2{
  text-align: center;
  font-size: 1.7rem;
  color: rgb(240, 240, 240);
  margin-top: 10px;
  margin-bottom: 30px;
}

.content p{
  font-size: 0.9rem;
  color: rgb(240, 240, 240);
  margin-bottom: 30px;
}

.content{
  position: relative;
  text-align: center;
  height: fit-content;
  width: auto;
}
.content img{
  display: block;
  position: relative;
  width: 180px;
  height: auto;
  margin: 0 auto;
}


.button-area{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (width < 600px){
  .button-area{
    width: 300x;
  }
}

@media (600px <= width < 1025px){
  .button-area{
    width: 460px;
  }
}

@media (1025px <= width){
  .button-area{
    width: 500px;
  }
}

.button-container{
  flex-grow: 1;
  width: 200px;
  height: 100px;
  display: grid;
  place-items: center;
}

.button-content a {
  background: rgba(240, 240, 240);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 22px;
  width: 180px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-size: 0.9rem;
  font-weight: 350;
  border-radius:  46px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
}
.button-content a:hover {
  background: #313131;
  color: #FFF;
}

.button-content a:before {
  content: '';
  display: inline-block;
  background-image: url(../img/plugin/download-icon-black.webp);
  background-size: contain;
  vertical-align: middle;
  margin-right: 18px;
  width: 24px;
  height: 24px;
  transition: 0.9s;
}
.button-content a:hover:before{
  background-image: url(../img/plugin/download-icon-white.webp);
}


.howtouse-area p{
  text-align: left;
  word-wrap: break-word;
  letter-spacing: 0.10em; 
  position: relative;
}
@media (width < 600px) {
  .howtouse-area{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
}
@media (600px <= width) {
  .howtouse-area{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 65%;
  }
}

@media (width < 700px) {
  .howtouse-area img{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
}
@media (700px <= width) {
  .howtouse-area img{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80%;
  }
}


.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  translate: -50%;
  width: 100vw;
  height: 300px
}

.waves {
  width: 2400px;
  margin-bottom: 130px; /*Fix for safari gap*/
}

/* Animation */

.parallax > use {
  animation: wave-move 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 14s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 20s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 26s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 40s;
}
@keyframes wave-move {
  0% {
    transform: translate(-90px,0);
  }
  100% { 
    transform: translate(85px,0);
  }
}


.circles{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 15%;
  width: 80px;
  height: 80px;
  animation-delay: 19s;
}

.circles li:nth-child(2){
  left: 8%;
  width: 34px;
  height: 34px;
  animation-delay: 11s;
  animation-duration: 22s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 26%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 30px;
  height: 30px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 25px;
  height: 25px;
  animation-delay: 8s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 16s;
}

@media (width < 600px){
  .circles li:nth-child(1){
    display: none;
  }
  
  .circles li:nth-child(2){
    left: 2%;
    width: 34px;
    height: 34px;
  }
  
  .circles li:nth-child(3){
    display: none;
  }
  
  .circles li:nth-child(4){
    left: 40%;
    width: 48px;
    height: 48px;
  }
  
  .circles li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
  }
  
  .circles li:nth-child(6){
    left: 75%;
    width: 72px;
    height: 72px;
  }
  
  .circles li:nth-child(7){
    left: 26%;
    width: 80px;
    height: 80px;
  }
  
  .circles li:nth-child(8){
    display: none;
  }
  
  .circles li:nth-child(9){
    left: 20%;
    width: 25px;
    height: 25px;
  }
  
  .circles li:nth-child(10){
    left: 92%;
    width: 74px;
    height: 74px;
  }
}

@media (600px <= width < 1025px){
  .circles li:nth-child(1){
    display: none;
  }
  
  .circles li:nth-child(2){
    left: 2%;
    width: 34px;
    height: 34px;
  }
  
  .circles li:nth-child(3){
    display: none;
  }
  
  .circles li:nth-child(4){
    left: 40%;
    width: 48px;
    height: 48px;
  }
  
  .circles li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
  }
  
  .circles li:nth-child(6){
    left: 75%;
    width: 72px;
    height: 72px;
  }
  
  .circles li:nth-child(7){
    left: 26%;
    width: 80px;
    height: 80px;
  }
  
  .circles li:nth-child(8){
    display: none;
  }
  
  .circles li:nth-child(9){
    left: 20%;
    width: 25px;
    height: 25px;
  }
  
  .circles li:nth-child(10){
    left: 92%;
    width: 74px;
    height: 74px;
  }
}


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

@media (width < 700px){
  .plugin-image{
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .arrow-container{
    width: auto;
    height: 10%;
    text-align: center;
  }
  .arrow-twocontents {
    display: inline-block;
    color: #333;
    line-height: 1;
    position: relative;
    width: 0.2em;
    height: 3em;
    margin: 20px 0 ;
    background: currentColor;
  }
  .arrow-twocontents::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    border: 0.2em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(135deg);
    position: absolute;
    top: 1.5em;
    left: -0.65em;
    box-sizing: border-box;
  }

}

@media (700px <= width < 1025px){
  .plugin-image{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .arrow-container{
    display: grid;
    place-content: center;
    width: 10%;
    height: auto;
  }
  .arrow-twocontents {
    display: inline-block;
    color: #333;
    line-height: 1;
    position: relative;
    width: 3em;
    height: 0.2em;
    background: currentColor;
  }
  .arrow-twocontents::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    border: 0.2em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.05em;
    box-sizing: border-box;
  }
}

@media (1025px <= width){
  .plugin-image{
    display: flex;
    position: relative;
    width: 800px;
    height: auto;
    margin: 0 auto;
  }
  .arrow-container{
    display: grid;
    place-content: center;
    width: 10%;
    height: auto;
  }
  .arrow-twocontents {
    display: inline-block;
    color: #333;
    line-height: 1;
    position: relative;
    width: 3em;
    height: 0.2em;
    background: currentColor;
  }
  .arrow-twocontents::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    border: 0.2em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.05em;
    box-sizing: border-box;
  }
}



.plugin-image-before{
  position: relative;
  transform: translate(3%);
}
.plugin-image-before::after{
  content: '';
  display: inline-block;
  background-image: url(../img/plugin/before-parts.webp);
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 30px;
  width: 60%;
  height: 60%;

  border: 3px solid #313131;
}

.plugin-image-after{
  position: relative;
  transform: translate(3%);
}
.plugin-image-after::after{
  content: '';
  display: inline-block;
  background-image: url(../img/plugin/after-parts.webp);
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 30px;
  width: 60%;
  height: 60%;


  border: 3px solid #313131;
}