@charset "UTF-8";

.gm-style .gm-style-mtc label,
.gm-style .gm-style-mtc div {
    font-weight: 400
}

.gm-style .gm-style-mtc ul,
.gm-style .gm-style-mtc li {
    box-sizing: border-box
}

/* - */
.gm-control-active>img {
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.gm-control-active>img:nth-child(1) {
    display: block
}

.gm-control-active:hover>img:nth-child(1),
.gm-control-active:active>img:nth-child(1) {
    display: none
}

.gm-control-active:hover>img:nth-child(2),
.gm-control-active:active>img:nth-child(3) {
    display: block
}

/* - */
.gm-ui-hover-effect {
    opacity: .6
}

.gm-ui-hover-effect:hover {
    opacity: 1
}

/* - */
.gm-style .gm-style-cc a,
.gm-style .gm-style-cc button,
.gm-style .gm-style-cc span,
.gm-style .gm-style-mtc div {
    font-size: 10px;
    box-sizing: border-box
}

/* - */
@media print {

    .gm-style .gmnoprint,
    .gmnoprint {
        display: none
    }
}

@media screen {

    .gm-style .gmnoscreen,
    .gmnoscreen {
        display: none
    }
}

/* - */
.gm-style-moc {
    background-color: rgba(0, 0, 0, 0.45);
    pointer-events: none;
    text-align: center;
    transition: opacity ease-in-out
}

.gm-style-mot {
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}

/* - */
.gm-style img {
    max-width: none;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

/* YOYOlogo--------------------------------------- */

.wrapper-yoyologo{
    width: 250px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .wrapper-yoyologo{
        padding-bottom: 0px;
    }
}

.wrapper-yoyologo:hover{
    transform: scale(1.1);
}

/* //YOYOlogo------------------------------------- */

.wrapper-sns{
	width: 70%;
	margin: 0 auto;
    padding-top: 90px;
	padding-bottom: 90px;
    background-color: #FFAE27;
}

.content-3sns{
	text-align: center;
}

.content-3sns .circle{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	line-height: 0 !important;
}
.circle:hover{
	transform: scale(1.1);
}

.content-3sns li{
	display: inline-block;
	width: 18%;
	padding: 0 2% 50px;
	vertical-align: top;
}

@media screen and (max-width: 600px) {
    .wrapper-sns{
        width: 100%;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .content-3sns li{
        width: 22%;
    }
}