@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-billboard,#a-site_contents,#a-footer { max-width:100%; }
@media (max-width: 641px) {

}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {
 background-image: url(_src/200/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {
	}
#a-side-a {
 background-color:  #ffffff; 
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0px 0px 0px 0px;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk264 > div { margin:0 auto; max-width:100%; }
#bk175 > div { margin:0 auto; max-width:100%; }
#bk174 > div { padding-left: 40px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk209 { background-color:#FFFFFF; }
#bk209 > div { padding-left: 10px; padding-top: 170px; padding-right: 30px; padding-bottom: 0px;  } 
#bk623 { background-color:#FFFFFF; }
#bk184 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk192 > div { margin:0 auto; max-width:85%; }
#bk415 { background-color:#FFFFFF; }
#bk415 > div { padding-left: 0px; padding-top: 30px; padding-right: 30px; padding-bottom: 0px;  } 
#bk202 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 
#bk191 > div { margin:0 auto; max-width:80%; }
#bk167 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk226 > div { margin:0 auto; max-width:85%; }
#bk141 { background-color:#555555; }
#bk136 > div { margin:0 auto; max-width:80%; }
#bk228 > div { margin:0 auto; max-width:85%; }
#bk195 > div { margin:0 auto; max-width:80%; }
#bk227 > div { margin:0 auto; max-width:85%; }
#bk197 > div { margin:0 auto; max-width:80%; }
#bk138 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 


@media (max-width: 641px) {
		#bk133.b-plain > .column,#bk133.b-plain > .g-column,#bk133.b-both_diff > .column,#bk133.b-both_diff > .g-column,#bk133.b-headlines > .column,#bk133.b-headlines > .g-column,#bk133.b-album > .column,#bk133.b-album > .g-column,#bk133.b-tab > .column,#bk133.b-tab > .g-column,#bk133.b-accordion > .column,#bk133.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk264.b-plain > .column,#bk264.b-plain > .g-column,#bk264.b-both_diff > .column,#bk264.b-both_diff > .g-column,#bk264.b-headlines > .column,#bk264.b-headlines > .g-column,#bk264.b-album > .column,#bk264.b-album > .g-column,#bk264.b-tab > .column,#bk264.b-tab > .g-column,#bk264.b-accordion > .column,#bk264.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk175.b-plain > .column,#bk175.b-plain > .g-column,#bk175.b-both_diff > .column,#bk175.b-both_diff > .g-column,#bk175.b-headlines > .column,#bk175.b-headlines > .g-column,#bk175.b-album > .column,#bk175.b-album > .g-column,#bk175.b-tab > .column,#bk175.b-tab > .g-column,#bk175.b-accordion > .column,#bk175.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk174.b-plain > .column,#bk174.b-plain > .g-column,#bk174.b-both_diff > .column,#bk174.b-both_diff > .g-column,#bk174.b-headlines > .column,#bk174.b-headlines > .g-column,#bk174.b-album > .column,#bk174.b-album > .g-column,#bk174.b-tab > .column,#bk174.b-tab > .g-column,#bk174.b-accordion > .column,#bk174.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk174 > div { padding: 15px; }
		#bk209.b-plain > .column,#bk209.b-plain > .g-column,#bk209.b-both_diff > .column,#bk209.b-both_diff > .g-column,#bk209.b-headlines > .column,#bk209.b-headlines > .g-column,#bk209.b-album > .column,#bk209.b-album > .g-column,#bk209.b-tab > .column,#bk209.b-tab > .g-column,#bk209.b-accordion > .column,#bk209.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk209 > div { padding: 15px; }
		#bk140.b-plain > .column,#bk140.b-plain > .g-column,#bk140.b-both_diff > .column,#bk140.b-both_diff > .g-column,#bk140.b-headlines > .column,#bk140.b-headlines > .g-column,#bk140.b-album > .column,#bk140.b-album > .g-column,#bk140.b-tab > .column,#bk140.b-tab > .g-column,#bk140.b-accordion > .column,#bk140.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk623.b-plain > .column,#bk623.b-plain > .g-column,#bk623.b-both_diff > .column,#bk623.b-both_diff > .g-column,#bk623.b-headlines > .column,#bk623.b-headlines > .g-column,#bk623.b-album > .column,#bk623.b-album > .g-column,#bk623.b-tab > .column,#bk623.b-tab > .g-column,#bk623.b-accordion > .column,#bk623.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk184.b-plain > .column,#bk184.b-plain > .g-column,#bk184.b-both_diff > .column,#bk184.b-both_diff > .g-column,#bk184.b-headlines > .column,#bk184.b-headlines > .g-column,#bk184.b-album > .column,#bk184.b-album > .g-column,#bk184.b-tab > .column,#bk184.b-tab > .g-column,#bk184.b-accordion > .column,#bk184.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk184 > div { padding: 15px; }
		#bk192.b-plain > .column,#bk192.b-plain > .g-column,#bk192.b-both_diff > .column,#bk192.b-both_diff > .g-column,#bk192.b-headlines > .column,#bk192.b-headlines > .g-column,#bk192.b-album > .column,#bk192.b-album > .g-column,#bk192.b-tab > .column,#bk192.b-tab > .g-column,#bk192.b-accordion > .column,#bk192.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk192 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk415.b-plain > .column,#bk415.b-plain > .g-column,#bk415.b-both_diff > .column,#bk415.b-both_diff > .g-column,#bk415.b-headlines > .column,#bk415.b-headlines > .g-column,#bk415.b-album > .column,#bk415.b-album > .g-column,#bk415.b-tab > .column,#bk415.b-tab > .g-column,#bk415.b-accordion > .column,#bk415.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk415 > div { padding: 15px; }
		#bk202.b-plain > .column,#bk202.b-plain > .g-column,#bk202.b-both_diff > .column,#bk202.b-both_diff > .g-column,#bk202.b-headlines > .column,#bk202.b-headlines > .g-column,#bk202.b-album > .column,#bk202.b-album > .g-column,#bk202.b-tab > .column,#bk202.b-tab > .g-column,#bk202.b-accordion > .column,#bk202.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk202 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
		#bk191.b-plain > .column,#bk191.b-plain > .g-column,#bk191.b-both_diff > .column,#bk191.b-both_diff > .g-column,#bk191.b-headlines > .column,#bk191.b-headlines > .g-column,#bk191.b-album > .column,#bk191.b-album > .g-column,#bk191.b-tab > .column,#bk191.b-tab > .g-column,#bk191.b-accordion > .column,#bk191.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk167.b-plain > .column,#bk167.b-plain > .g-column,#bk167.b-both_diff > .column,#bk167.b-both_diff > .g-column,#bk167.b-headlines > .column,#bk167.b-headlines > .g-column,#bk167.b-album > .column,#bk167.b-album > .g-column,#bk167.b-tab > .column,#bk167.b-tab > .g-column,#bk167.b-accordion > .column,#bk167.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk167 > div { padding: 0px; }
		#bk226.b-plain > .column,#bk226.b-plain > .g-column,#bk226.b-both_diff > .column,#bk226.b-both_diff > .g-column,#bk226.b-headlines > .column,#bk226.b-headlines > .g-column,#bk226.b-album > .column,#bk226.b-album > .g-column,#bk226.b-tab > .column,#bk226.b-tab > .g-column,#bk226.b-accordion > .column,#bk226.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk226 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk141.b-plain > .column,#bk141.b-plain > .g-column,#bk141.b-both_diff > .column,#bk141.b-both_diff > .g-column,#bk141.b-headlines > .column,#bk141.b-headlines > .g-column,#bk141.b-album > .column,#bk141.b-album > .g-column,#bk141.b-tab > .column,#bk141.b-tab > .g-column,#bk141.b-accordion > .column,#bk141.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk136.b-plain > .column,#bk136.b-plain > .g-column,#bk136.b-both_diff > .column,#bk136.b-both_diff > .g-column,#bk136.b-headlines > .column,#bk136.b-headlines > .g-column,#bk136.b-album > .column,#bk136.b-album > .g-column,#bk136.b-tab > .column,#bk136.b-tab > .g-column,#bk136.b-accordion > .column,#bk136.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk228.b-plain > .column,#bk228.b-plain > .g-column,#bk228.b-both_diff > .column,#bk228.b-both_diff > .g-column,#bk228.b-headlines > .column,#bk228.b-headlines > .g-column,#bk228.b-album > .column,#bk228.b-album > .g-column,#bk228.b-tab > .column,#bk228.b-tab > .g-column,#bk228.b-accordion > .column,#bk228.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk228 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk195.b-plain > .column,#bk195.b-plain > .g-column,#bk195.b-both_diff > .column,#bk195.b-both_diff > .g-column,#bk195.b-headlines > .column,#bk195.b-headlines > .g-column,#bk195.b-album > .column,#bk195.b-album > .g-column,#bk195.b-tab > .column,#bk195.b-tab > .g-column,#bk195.b-accordion > .column,#bk195.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk227.b-plain > .column,#bk227.b-plain > .g-column,#bk227.b-both_diff > .column,#bk227.b-both_diff > .g-column,#bk227.b-headlines > .column,#bk227.b-headlines > .g-column,#bk227.b-album > .column,#bk227.b-album > .g-column,#bk227.b-tab > .column,#bk227.b-tab > .g-column,#bk227.b-accordion > .column,#bk227.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk227 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk197.b-plain > .column,#bk197.b-plain > .g-column,#bk197.b-both_diff > .column,#bk197.b-both_diff > .g-column,#bk197.b-headlines > .column,#bk197.b-headlines > .g-column,#bk197.b-album > .column,#bk197.b-album > .g-column,#bk197.b-tab > .column,#bk197.b-tab > .g-column,#bk197.b-accordion > .column,#bk197.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk138.b-plain > .column,#bk138.b-plain > .g-column,#bk138.b-both_diff > .column,#bk138.b-both_diff > .g-column,#bk138.b-headlines > .column,#bk138.b-headlines > .g-column,#bk138.b-album > .column,#bk138.b-album > .g-column,#bk138.b-tab > .column,#bk138.b-tab > .g-column,#bk138.b-accordion > .column,#bk138.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk138 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
	}




@media (max-width: 641px) {
}
