@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-billboard,#a-site_contents,#a-footer { max-width:100%; }
@media (max-width: 641px) {

}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {
 background-image: url(_src/201/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0px 0px 0px 0px;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk152 > div { margin:0 auto; max-width:100%; }
#bk941 > div { padding-left: 40px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk160 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk156 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk183 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk851 > div { margin:0 auto; max-width:85%; }
#bk199 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk168 { background-color:#555555; }
#bk153 > div { margin:0 auto; max-width:80%; }
#bk220 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 


@media (max-width: 641px) {
		#bk151.b-plain > .column,#bk151.b-plain > .g-column,#bk151.b-both_diff > .column,#bk151.b-both_diff > .g-column,#bk151.b-headlines > .column,#bk151.b-headlines > .g-column,#bk151.b-album > .column,#bk151.b-album > .g-column,#bk151.b-tab > .column,#bk151.b-tab > .g-column,#bk151.b-accordion > .column,#bk151.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk152.b-plain > .column,#bk152.b-plain > .g-column,#bk152.b-both_diff > .column,#bk152.b-both_diff > .g-column,#bk152.b-headlines > .column,#bk152.b-headlines > .g-column,#bk152.b-album > .column,#bk152.b-album > .g-column,#bk152.b-tab > .column,#bk152.b-tab > .g-column,#bk152.b-accordion > .column,#bk152.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk941.b-plain > .column,#bk941.b-plain > .g-column,#bk941.b-both_diff > .column,#bk941.b-both_diff > .g-column,#bk941.b-headlines > .column,#bk941.b-headlines > .g-column,#bk941.b-album > .column,#bk941.b-album > .g-column,#bk941.b-tab > .column,#bk941.b-tab > .g-column,#bk941.b-accordion > .column,#bk941.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk941 > div { padding: 15px; }
		#bk160.b-plain > .column,#bk160.b-plain > .g-column,#bk160.b-both_diff > .column,#bk160.b-both_diff > .g-column,#bk160.b-headlines > .column,#bk160.b-headlines > .g-column,#bk160.b-album > .column,#bk160.b-album > .g-column,#bk160.b-tab > .column,#bk160.b-tab > .g-column,#bk160.b-accordion > .column,#bk160.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk160 > div { padding: 0px; }
		#bk154.b-plain > .column,#bk154.b-plain > .g-column,#bk154.b-both_diff > .column,#bk154.b-both_diff > .g-column,#bk154.b-headlines > .column,#bk154.b-headlines > .g-column,#bk154.b-album > .column,#bk154.b-album > .g-column,#bk154.b-tab > .column,#bk154.b-tab > .g-column,#bk154.b-accordion > .column,#bk154.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk155.b-plain > .column,#bk155.b-plain > .g-column,#bk155.b-both_diff > .column,#bk155.b-both_diff > .g-column,#bk155.b-headlines > .column,#bk155.b-headlines > .g-column,#bk155.b-album > .column,#bk155.b-album > .g-column,#bk155.b-tab > .column,#bk155.b-tab > .g-column,#bk155.b-accordion > .column,#bk155.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk156.b-plain > .column,#bk156.b-plain > .g-column,#bk156.b-both_diff > .column,#bk156.b-both_diff > .g-column,#bk156.b-headlines > .column,#bk156.b-headlines > .g-column,#bk156.b-album > .column,#bk156.b-album > .g-column,#bk156.b-tab > .column,#bk156.b-tab > .g-column,#bk156.b-accordion > .column,#bk156.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk156 > div { padding: 0px; }
		#bk183.b-plain > .column,#bk183.b-plain > .g-column,#bk183.b-both_diff > .column,#bk183.b-both_diff > .g-column,#bk183.b-headlines > .column,#bk183.b-headlines > .g-column,#bk183.b-album > .column,#bk183.b-album > .g-column,#bk183.b-tab > .column,#bk183.b-tab > .g-column,#bk183.b-accordion > .column,#bk183.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk183 > div { padding: 15px; }
		#bk851.b-plain > .column,#bk851.b-plain > .g-column,#bk851.b-both_diff > .column,#bk851.b-both_diff > .g-column,#bk851.b-headlines > .column,#bk851.b-headlines > .g-column,#bk851.b-album > .column,#bk851.b-album > .g-column,#bk851.b-tab > .column,#bk851.b-tab > .g-column,#bk851.b-accordion > .column,#bk851.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk851 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk199.b-plain > .column,#bk199.b-plain > .g-column,#bk199.b-both_diff > .column,#bk199.b-both_diff > .g-column,#bk199.b-headlines > .column,#bk199.b-headlines > .g-column,#bk199.b-album > .column,#bk199.b-album > .g-column,#bk199.b-tab > .column,#bk199.b-tab > .g-column,#bk199.b-accordion > .column,#bk199.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk199 > div { padding: 0px; }
		#bk168.b-plain > .column,#bk168.b-plain > .g-column,#bk168.b-both_diff > .column,#bk168.b-both_diff > .g-column,#bk168.b-headlines > .column,#bk168.b-headlines > .g-column,#bk168.b-album > .column,#bk168.b-album > .g-column,#bk168.b-tab > .column,#bk168.b-tab > .g-column,#bk168.b-accordion > .column,#bk168.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk153.b-plain > .column,#bk153.b-plain > .g-column,#bk153.b-both_diff > .column,#bk153.b-both_diff > .g-column,#bk153.b-headlines > .column,#bk153.b-headlines > .g-column,#bk153.b-album > .column,#bk153.b-album > .g-column,#bk153.b-tab > .column,#bk153.b-tab > .g-column,#bk153.b-accordion > .column,#bk153.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk220.b-plain > .column,#bk220.b-plain > .g-column,#bk220.b-both_diff > .column,#bk220.b-both_diff > .g-column,#bk220.b-headlines > .column,#bk220.b-headlines > .g-column,#bk220.b-album > .column,#bk220.b-album > .g-column,#bk220.b-tab > .column,#bk220.b-tab > .g-column,#bk220.b-accordion > .column,#bk220.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk220 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
	}




@media (max-width: 641px) {
}
