@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-billboard,#a-site_contents,#a-footer { max-width:100%; }
@media (max-width: 641px) {

}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {
 background-image: url(_src/2523/dsc_6554_t3.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	 background-image:url(_src/2524/dsc_6554_t3.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
	#a-main {padding:0px 0px 0px 0px;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk169 > div { margin:0 auto; max-width:100%; }
#bk147 > div { padding-left: 40px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk150 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk181 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk850 > div { margin:0 auto; max-width:85%; }
#bk170 { background-color:#555555; }
#bk622 > div { margin:0 auto; max-width:80%; }
#bk621 > div { margin:0 auto; max-width:80%; }
#bk173 > div { margin:0 auto; max-width:85%; }
#bk221 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 


@media (max-width: 641px) {
		#bk145.b-plain > .column,#bk145.b-plain > .g-column,#bk145.b-both_diff > .column,#bk145.b-both_diff > .g-column,#bk145.b-headlines > .column,#bk145.b-headlines > .g-column,#bk145.b-album > .column,#bk145.b-album > .g-column,#bk145.b-tab > .column,#bk145.b-tab > .g-column,#bk145.b-accordion > .column,#bk145.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk169.b-plain > .column,#bk169.b-plain > .g-column,#bk169.b-both_diff > .column,#bk169.b-both_diff > .g-column,#bk169.b-headlines > .column,#bk169.b-headlines > .g-column,#bk169.b-album > .column,#bk169.b-album > .g-column,#bk169.b-tab > .column,#bk169.b-tab > .g-column,#bk169.b-accordion > .column,#bk169.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk147.b-plain > .column,#bk147.b-plain > .g-column,#bk147.b-both_diff > .column,#bk147.b-both_diff > .g-column,#bk147.b-headlines > .column,#bk147.b-headlines > .g-column,#bk147.b-album > .column,#bk147.b-album > .g-column,#bk147.b-tab > .column,#bk147.b-tab > .g-column,#bk147.b-accordion > .column,#bk147.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk147 > div { padding: 15px; }
		#bk148.b-plain > .column,#bk148.b-plain > .g-column,#bk148.b-both_diff > .column,#bk148.b-both_diff > .g-column,#bk148.b-headlines > .column,#bk148.b-headlines > .g-column,#bk148.b-album > .column,#bk148.b-album > .g-column,#bk148.b-tab > .column,#bk148.b-tab > .g-column,#bk148.b-accordion > .column,#bk148.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk149.b-plain > .column,#bk149.b-plain > .g-column,#bk149.b-both_diff > .column,#bk149.b-both_diff > .g-column,#bk149.b-headlines > .column,#bk149.b-headlines > .g-column,#bk149.b-album > .column,#bk149.b-album > .g-column,#bk149.b-tab > .column,#bk149.b-tab > .g-column,#bk149.b-accordion > .column,#bk149.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk150.b-plain > .column,#bk150.b-plain > .g-column,#bk150.b-both_diff > .column,#bk150.b-both_diff > .g-column,#bk150.b-headlines > .column,#bk150.b-headlines > .g-column,#bk150.b-album > .column,#bk150.b-album > .g-column,#bk150.b-tab > .column,#bk150.b-tab > .g-column,#bk150.b-accordion > .column,#bk150.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk150 > div { padding: 0px; }
		#bk181.b-plain > .column,#bk181.b-plain > .g-column,#bk181.b-both_diff > .column,#bk181.b-both_diff > .g-column,#bk181.b-headlines > .column,#bk181.b-headlines > .g-column,#bk181.b-album > .column,#bk181.b-album > .g-column,#bk181.b-tab > .column,#bk181.b-tab > .g-column,#bk181.b-accordion > .column,#bk181.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk181 > div { padding: 15px; }
		#bk850.b-plain > .column,#bk850.b-plain > .g-column,#bk850.b-both_diff > .column,#bk850.b-both_diff > .g-column,#bk850.b-headlines > .column,#bk850.b-headlines > .g-column,#bk850.b-album > .column,#bk850.b-album > .g-column,#bk850.b-tab > .column,#bk850.b-tab > .g-column,#bk850.b-accordion > .column,#bk850.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk850 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk170.b-plain > .column,#bk170.b-plain > .g-column,#bk170.b-both_diff > .column,#bk170.b-both_diff > .g-column,#bk170.b-headlines > .column,#bk170.b-headlines > .g-column,#bk170.b-album > .column,#bk170.b-album > .g-column,#bk170.b-tab > .column,#bk170.b-tab > .g-column,#bk170.b-accordion > .column,#bk170.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk622.b-plain > .column,#bk622.b-plain > .g-column,#bk622.b-both_diff > .column,#bk622.b-both_diff > .g-column,#bk622.b-headlines > .column,#bk622.b-headlines > .g-column,#bk622.b-album > .column,#bk622.b-album > .g-column,#bk622.b-tab > .column,#bk622.b-tab > .g-column,#bk622.b-accordion > .column,#bk622.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk622 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk621.b-plain > .column,#bk621.b-plain > .g-column,#bk621.b-both_diff > .column,#bk621.b-both_diff > .g-column,#bk621.b-headlines > .column,#bk621.b-headlines > .g-column,#bk621.b-album > .column,#bk621.b-album > .g-column,#bk621.b-tab > .column,#bk621.b-tab > .g-column,#bk621.b-accordion > .column,#bk621.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk173.b-plain > .column,#bk173.b-plain > .g-column,#bk173.b-both_diff > .column,#bk173.b-both_diff > .g-column,#bk173.b-headlines > .column,#bk173.b-headlines > .g-column,#bk173.b-album > .column,#bk173.b-album > .g-column,#bk173.b-tab > .column,#bk173.b-tab > .g-column,#bk173.b-accordion > .column,#bk173.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk416.b-plain > .column,#bk416.b-plain > .g-column,#bk416.b-both_diff > .column,#bk416.b-both_diff > .g-column,#bk416.b-headlines > .column,#bk416.b-headlines > .g-column,#bk416.b-album > .column,#bk416.b-album > .g-column,#bk416.b-tab > .column,#bk416.b-tab > .g-column,#bk416.b-accordion > .column,#bk416.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk221.b-plain > .column,#bk221.b-plain > .g-column,#bk221.b-both_diff > .column,#bk221.b-both_diff > .g-column,#bk221.b-headlines > .column,#bk221.b-headlines > .g-column,#bk221.b-album > .column,#bk221.b-album > .g-column,#bk221.b-tab > .column,#bk221.b-tab > .g-column,#bk221.b-accordion > .column,#bk221.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk221 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
	}




@media (max-width: 641px) {
}
