@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-billboard,#a-site_contents,#a-footer { max-width:100%; }
@media (max-width: 641px) {
.bg-document { width:100%; }
#a-site_contents { width:100%; }
}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {
 background-image: url(_src/199/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {padding:0px 40px 40px 40px ;	
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0% 5% 10% 5% ;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk107 > div { margin:0 auto; max-width:100%; }
#bk110 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk116 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk108 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk117 { background-color:#555555; }
#bk678 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk1005 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk934 > div { margin:0 auto; max-width:90%; }
#bk934 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 30px;  } 
#bk1006 > div { margin:0 auto; max-width:90%; }
#bk933 > div { margin:0 auto; max-width:90%; }
#bk1011 > div { margin:0 auto; max-width:90%; }
#bk937 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk949 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 
#bk675 > div { margin:0 auto; max-width:90%; }
#bk675 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk950 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 
#bk680 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk1007 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk952 > div { margin:0 auto; max-width:90%; }
#bk952 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 30px;  } 
#bk1008 > div { margin:0 auto; max-width:90%; }
#bk1008 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 30px;  } 
#bk953 > div { margin:0 auto; max-width:90%; }
#bk943 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk948 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 
#bk164 > div { margin:0 auto; max-width:90%; }
#bk1014 > div { margin:0 auto; max-width:90%; }
#bk944 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk947 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 
#bk677 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk1015 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk163 > div { margin:0 auto; max-width:90%; }
#bk163 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 50px;  } 
#bk1016 > div { margin:0 auto; max-width:90%; }
#bk1016 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 50px;  } 
#bk963 > div { margin:0 auto; max-width:90%; }
#bk963 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 50px;  } 
#bk1017 > div { margin:0 auto; max-width:90%; }
#bk1017 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 50px;  } 
#bk968 > div { margin:0 auto; max-width:90%; }
#bk968 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 50px;  } 
#bk945 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk962 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 
#bk957 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk1019 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk960 > div { margin:0 auto; max-width:90%; }
#bk960 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 50px;  } 
#bk1020 > div { margin:0 auto; max-width:90%; }
#bk1020 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 50px;  } 
#bk959 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk946 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 
#bk783 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk1021 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk187 > div { margin:0 auto; max-width:90%; }
#bk955 > div { margin:0 auto; max-width:90%; }
#bk965 > div { margin:0 auto; max-width:90%; }
#bk956 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk203 > div { padding-left: 0px; padding-top: 0px; padding-right: 15px; padding-bottom: 60px;  } 


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-side-a .b-plain > .column,.a-side-a .b-plain > .g-column,.a-side-a .b-both_diff > .column,.a-side-a .b-both_diff > .g-column,.a-side-a .b-headlines > .column,.a-side-a .b-headlines > .g-column,.a-side-a .b-album > .column,.a-side-a .b-album > .g-column,.a-side-a .b-tab > .column,.a-side-a .b-tab > .g-column,.a-side-a .b-accordion > .column,.a-side-a .b-accordion > .g-column,.a-side-b .b-plain > .column,.a-side-b .b-plain > .g-column,.a-side-b .b-both_diff > .column,.a-side-b .b-both_diff > .g-column,.a-side-b .b-headlines > .column,.a-side-b .b-headlines > .g-column,.a-side-b .b-album > .column,.a-side-b .b-album > .g-column,.a-side-b .b-tab > .column,.a-side-b .b-tab > .g-column,.a-side-b .b-accordion > .column,.a-side-b .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:98%; }
		#bk110 > div { padding: 0px; }
		#bk116 > div { padding: 0px; }
		#bk108.b-plain > .column,#bk108.b-plain > .g-column,#bk108.b-both_diff > .column,#bk108.b-both_diff > .g-column,#bk108.b-headlines > .column,#bk108.b-headlines > .g-column,#bk108.b-album > .column,#bk108.b-album > .g-column,#bk108.b-tab > .column,#bk108.b-tab > .g-column,#bk108.b-accordion > .column,#bk108.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk108 > div { padding: 15px; }
		#bk117.b-plain > .column,#bk117.b-plain > .g-column,#bk117.b-both_diff > .column,#bk117.b-both_diff > .g-column,#bk117.b-headlines > .column,#bk117.b-headlines > .g-column,#bk117.b-album > .column,#bk117.b-album > .g-column,#bk117.b-tab > .column,#bk117.b-tab > .g-column,#bk117.b-accordion > .column,#bk117.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk1010 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk678 > div { padding: 15px; }
		#bk1005 > div { padding: 0px; }
		#bk934 > div { padding: 15px; }
		#bk1006 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk933.b-plain > .column,#bk933.b-plain > .g-column,#bk933.b-both_diff > .column,#bk933.b-both_diff > .g-column,#bk933.b-headlines > .column,#bk933.b-headlines > .g-column,#bk933.b-album > .column,#bk933.b-album > .g-column,#bk933.b-tab > .column,#bk933.b-tab > .g-column,#bk933.b-accordion > .column,#bk933.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk937 > div { padding: 0px; }
		#bk949.b-plain > .column,#bk949.b-plain > .g-column,#bk949.b-both_diff > .column,#bk949.b-both_diff > .g-column,#bk949.b-headlines > .column,#bk949.b-headlines > .g-column,#bk949.b-album > .column,#bk949.b-album > .g-column,#bk949.b-tab > .column,#bk949.b-tab > .g-column,#bk949.b-accordion > .column,#bk949.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk949 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
		#bk675.b-plain > .column,#bk675.b-plain > .g-column,#bk675.b-both_diff > .column,#bk675.b-both_diff > .g-column,#bk675.b-headlines > .column,#bk675.b-headlines > .g-column,#bk675.b-album > .column,#bk675.b-album > .g-column,#bk675.b-tab > .column,#bk675.b-tab > .g-column,#bk675.b-accordion > .column,#bk675.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk675 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk950.b-plain > .column,#bk950.b-plain > .g-column,#bk950.b-both_diff > .column,#bk950.b-both_diff > .g-column,#bk950.b-headlines > .column,#bk950.b-headlines > .g-column,#bk950.b-album > .column,#bk950.b-album > .g-column,#bk950.b-tab > .column,#bk950.b-tab > .g-column,#bk950.b-accordion > .column,#bk950.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk950 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
		#bk680 > div { padding: 15px; }
		#bk1007 > div { padding: 0px; }
		#bk952 > div { padding: 15px; }
		#bk1008 > div { padding: 0px; }
		#bk953.b-plain > .column,#bk953.b-plain > .g-column,#bk953.b-both_diff > .column,#bk953.b-both_diff > .g-column,#bk953.b-headlines > .column,#bk953.b-headlines > .g-column,#bk953.b-album > .column,#bk953.b-album > .g-column,#bk953.b-tab > .column,#bk953.b-tab > .g-column,#bk953.b-accordion > .column,#bk953.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk1012.b-plain > .column,#bk1012.b-plain > .g-column,#bk1012.b-both_diff > .column,#bk1012.b-both_diff > .g-column,#bk1012.b-headlines > .column,#bk1012.b-headlines > .g-column,#bk1012.b-album > .column,#bk1012.b-album > .g-column,#bk1012.b-tab > .column,#bk1012.b-tab > .g-column,#bk1012.b-accordion > .column,#bk1012.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk943 > div { padding: 0px; }
		#bk948.b-plain > .column,#bk948.b-plain > .g-column,#bk948.b-both_diff > .column,#bk948.b-both_diff > .g-column,#bk948.b-headlines > .column,#bk948.b-headlines > .g-column,#bk948.b-album > .column,#bk948.b-album > .g-column,#bk948.b-tab > .column,#bk948.b-tab > .g-column,#bk948.b-accordion > .column,#bk948.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk948 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
		#bk164.b-plain > .column,#bk164.b-plain > .g-column,#bk164.b-both_diff > .column,#bk164.b-both_diff > .g-column,#bk164.b-headlines > .column,#bk164.b-headlines > .g-column,#bk164.b-album > .column,#bk164.b-album > .g-column,#bk164.b-tab > .column,#bk164.b-tab > .g-column,#bk164.b-accordion > .column,#bk164.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk164 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk944 > div { padding: 0px; }
		#bk947.b-plain > .column,#bk947.b-plain > .g-column,#bk947.b-both_diff > .column,#bk947.b-both_diff > .g-column,#bk947.b-headlines > .column,#bk947.b-headlines > .g-column,#bk947.b-album > .column,#bk947.b-album > .g-column,#bk947.b-tab > .column,#bk947.b-tab > .g-column,#bk947.b-accordion > .column,#bk947.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk947 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
		#bk677 > div { padding: 15px; }
		#bk1015 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk163.b-plain > .column,#bk163.b-plain > .g-column,#bk163.b-both_diff > .column,#bk163.b-both_diff > .g-column,#bk163.b-headlines > .column,#bk163.b-headlines > .g-column,#bk163.b-album > .column,#bk163.b-album > .g-column,#bk163.b-tab > .column,#bk163.b-tab > .g-column,#bk163.b-accordion > .column,#bk163.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk163 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk1016 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk963.b-plain > .column,#bk963.b-plain > .g-column,#bk963.b-both_diff > .column,#bk963.b-both_diff > .g-column,#bk963.b-headlines > .column,#bk963.b-headlines > .g-column,#bk963.b-album > .column,#bk963.b-album > .g-column,#bk963.b-tab > .column,#bk963.b-tab > .g-column,#bk963.b-accordion > .column,#bk963.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk963 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk1017 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk968.b-plain > .column,#bk968.b-plain > .g-column,#bk968.b-both_diff > .column,#bk968.b-both_diff > .g-column,#bk968.b-headlines > .column,#bk968.b-headlines > .g-column,#bk968.b-album > .column,#bk968.b-album > .g-column,#bk968.b-tab > .column,#bk968.b-tab > .g-column,#bk968.b-accordion > .column,#bk968.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk968 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk945 > div { padding: 0px; }
		#bk962.b-plain > .column,#bk962.b-plain > .g-column,#bk962.b-both_diff > .column,#bk962.b-both_diff > .g-column,#bk962.b-headlines > .column,#bk962.b-headlines > .g-column,#bk962.b-album > .column,#bk962.b-album > .g-column,#bk962.b-tab > .column,#bk962.b-tab > .g-column,#bk962.b-accordion > .column,#bk962.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk962 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
		#bk957 > div { padding: 15px; }
		#bk1019 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk960.b-plain > .column,#bk960.b-plain > .g-column,#bk960.b-both_diff > .column,#bk960.b-both_diff > .g-column,#bk960.b-headlines > .column,#bk960.b-headlines > .g-column,#bk960.b-album > .column,#bk960.b-album > .g-column,#bk960.b-tab > .column,#bk960.b-tab > .g-column,#bk960.b-accordion > .column,#bk960.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk960 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk1020 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk959 > div { padding: 0px; }
		#bk946.b-plain > .column,#bk946.b-plain > .g-column,#bk946.b-both_diff > .column,#bk946.b-both_diff > .g-column,#bk946.b-headlines > .column,#bk946.b-headlines > .g-column,#bk946.b-album > .column,#bk946.b-album > .g-column,#bk946.b-tab > .column,#bk946.b-tab > .g-column,#bk946.b-accordion > .column,#bk946.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk946 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
		#bk783 > div { padding: 15px; }
		#bk1021 > div { padding: 0px; }
		#bk187.b-plain > .column,#bk187.b-plain > .g-column,#bk187.b-both_diff > .column,#bk187.b-both_diff > .g-column,#bk187.b-headlines > .column,#bk187.b-headlines > .g-column,#bk187.b-album > .column,#bk187.b-album > .g-column,#bk187.b-tab > .column,#bk187.b-tab > .g-column,#bk187.b-accordion > .column,#bk187.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk187 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk955.b-plain > .column,#bk955.b-plain > .g-column,#bk955.b-both_diff > .column,#bk955.b-both_diff > .g-column,#bk955.b-headlines > .column,#bk955.b-headlines > .g-column,#bk955.b-album > .column,#bk955.b-album > .g-column,#bk955.b-tab > .column,#bk955.b-tab > .g-column,#bk955.b-accordion > .column,#bk955.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk955 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk965.b-plain > .column,#bk965.b-plain > .g-column,#bk965.b-both_diff > .column,#bk965.b-both_diff > .g-column,#bk965.b-headlines > .column,#bk965.b-headlines > .g-column,#bk965.b-album > .column,#bk965.b-album > .g-column,#bk965.b-tab > .column,#bk965.b-tab > .g-column,#bk965.b-accordion > .column,#bk965.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk965 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk1022.b-plain > .column,#bk1022.b-plain > .g-column,#bk1022.b-both_diff > .column,#bk1022.b-both_diff > .g-column,#bk1022.b-headlines > .column,#bk1022.b-headlines > .g-column,#bk1022.b-album > .column,#bk1022.b-album > .g-column,#bk1022.b-tab > .column,#bk1022.b-tab > .g-column,#bk1022.b-accordion > .column,#bk1022.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk1022 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk956 > div { padding: 0px; }
		#bk203.b-plain > .column,#bk203.b-plain > .g-column,#bk203.b-both_diff > .column,#bk203.b-both_diff > .g-column,#bk203.b-headlines > .column,#bk203.b-headlines > .g-column,#bk203.b-album > .column,#bk203.b-album > .g-column,#bk203.b-tab > .column,#bk203.b-tab > .g-column,#bk203.b-accordion > .column,#bk203.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk203 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 15px;  } 
	}




@media (max-width: 641px) {
}
