
AddHandler x-httpd-php528 .php
Options +SymLinksIfOwnerMatch
 
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteRule ^(.*$) https://caramel-code.com/$1 [R=301,L]