@charset "utf-8";
/* page setting
--------------------------------------------------------- */
@media (max-width: 641px) {
.bg-document { width:100%; }
#a-site_contents { width:100%; }
}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {padding:0px 0px 0px 0px ;	
 background-image: url(../_src/1052/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {padding:0px 40px 40px 40px ;	
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0% 5% 0% 5% ;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk531 > div { margin:0 auto; max-width:100%; }
#bk533 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk540 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk532 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk534 > div { margin:0 auto; max-width:80%; }
#bk541 { background-color:#555555; }
#bk535 > div { margin:0 auto; max-width:80%; }
#bk536 > div { margin:0 auto; max-width:80%; }
#bk537 > div { margin:0 auto; max-width:80%; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-side-a .b-plain > .column,.a-side-a .b-plain > .g-column,.a-side-a .b-both_diff > .column,.a-side-a .b-both_diff > .g-column,.a-side-a .b-headlines > .column,.a-side-a .b-headlines > .g-column,.a-side-a .b-album > .column,.a-side-a .b-album > .g-column,.a-side-a .b-tab > .column,.a-side-a .b-tab > .g-column,.a-side-a .b-accordion > .column,.a-side-a .b-accordion > .g-column,.a-side-b .b-plain > .column,.a-side-b .b-plain > .g-column,.a-side-b .b-both_diff > .column,.a-side-b .b-both_diff > .g-column,.a-side-b .b-headlines > .column,.a-side-b .b-headlines > .g-column,.a-side-b .b-album > .column,.a-side-b .b-album > .g-column,.a-side-b .b-tab > .column,.a-side-b .b-tab > .g-column,.a-side-b .b-accordion > .column,.a-side-b .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:98%; }
		#bk533 > div { padding: 0px; }
		#bk540 > div { padding: 0px; }
		#bk532.b-plain > .column,#bk532.b-plain > .g-column,#bk532.b-both_diff > .column,#bk532.b-both_diff > .g-column,#bk532.b-headlines > .column,#bk532.b-headlines > .g-column,#bk532.b-album > .column,#bk532.b-album > .g-column,#bk532.b-tab > .column,#bk532.b-tab > .g-column,#bk532.b-accordion > .column,#bk532.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk532 > div { padding: 15px; }
		#bk534.b-plain > .column,#bk534.b-plain > .g-column,#bk534.b-both_diff > .column,#bk534.b-both_diff > .g-column,#bk534.b-headlines > .column,#bk534.b-headlines > .g-column,#bk534.b-album > .column,#bk534.b-album > .g-column,#bk534.b-tab > .column,#bk534.b-tab > .g-column,#bk534.b-accordion > .column,#bk534.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk534 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk541.b-plain > .column,#bk541.b-plain > .g-column,#bk541.b-both_diff > .column,#bk541.b-both_diff > .g-column,#bk541.b-headlines > .column,#bk541.b-headlines > .g-column,#bk541.b-album > .column,#bk541.b-album > .g-column,#bk541.b-tab > .column,#bk541.b-tab > .g-column,#bk541.b-accordion > .column,#bk541.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk535.b-plain > .column,#bk535.b-plain > .g-column,#bk535.b-both_diff > .column,#bk535.b-both_diff > .g-column,#bk535.b-headlines > .column,#bk535.b-headlines > .g-column,#bk535.b-album > .column,#bk535.b-album > .g-column,#bk535.b-tab > .column,#bk535.b-tab > .g-column,#bk535.b-accordion > .column,#bk535.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk536.b-plain > .column,#bk536.b-plain > .g-column,#bk536.b-both_diff > .column,#bk536.b-both_diff > .g-column,#bk536.b-headlines > .column,#bk536.b-headlines > .g-column,#bk536.b-album > .column,#bk536.b-album > .g-column,#bk536.b-tab > .column,#bk536.b-tab > .g-column,#bk536.b-accordion > .column,#bk536.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk537.b-plain > .column,#bk537.b-plain > .g-column,#bk537.b-both_diff > .column,#bk537.b-both_diff > .g-column,#bk537.b-headlines > .column,#bk537.b-headlines > .g-column,#bk537.b-album > .column,#bk537.b-album > .g-column,#bk537.b-tab > .column,#bk537.b-tab > .g-column,#bk537.b-accordion > .column,#bk537.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
