@charset "utf-8";
/* page setting
--------------------------------------------------------- */
@media (max-width: 641px) {
.bg-document { width:100%; }
#a-site_contents { width:100%; }
}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {padding:0px 0px 0px 0px ;	
 background-image: url(../_src/843/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {padding:0px 40px 40px 40px ;	
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0% 5% 0% 5% ;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk482 > div { margin:0 auto; max-width:100%; }
#bk484 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk491 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk483 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk485 > div { margin:0 auto; max-width:80%; }
#bk492 { background-color:#555555; }
#bk486 > div { margin:0 auto; max-width:80%; }
#bk487 > div { margin:0 auto; max-width:80%; }
#bk487 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
#bk488 > div { margin:0 auto; max-width:80%; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-side-a .b-plain > .column,.a-side-a .b-plain > .g-column,.a-side-a .b-both_diff > .column,.a-side-a .b-both_diff > .g-column,.a-side-a .b-headlines > .column,.a-side-a .b-headlines > .g-column,.a-side-a .b-album > .column,.a-side-a .b-album > .g-column,.a-side-a .b-tab > .column,.a-side-a .b-tab > .g-column,.a-side-a .b-accordion > .column,.a-side-a .b-accordion > .g-column,.a-side-b .b-plain > .column,.a-side-b .b-plain > .g-column,.a-side-b .b-both_diff > .column,.a-side-b .b-both_diff > .g-column,.a-side-b .b-headlines > .column,.a-side-b .b-headlines > .g-column,.a-side-b .b-album > .column,.a-side-b .b-album > .g-column,.a-side-b .b-tab > .column,.a-side-b .b-tab > .g-column,.a-side-b .b-accordion > .column,.a-side-b .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:98%; }
		#bk484 > div { padding: 0px; }
		#bk491 > div { padding: 0px; }
		#bk483.b-plain > .column,#bk483.b-plain > .g-column,#bk483.b-both_diff > .column,#bk483.b-both_diff > .g-column,#bk483.b-headlines > .column,#bk483.b-headlines > .g-column,#bk483.b-album > .column,#bk483.b-album > .g-column,#bk483.b-tab > .column,#bk483.b-tab > .g-column,#bk483.b-accordion > .column,#bk483.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk483 > div { padding: 15px; }
		#bk485.b-plain > .column,#bk485.b-plain > .g-column,#bk485.b-both_diff > .column,#bk485.b-both_diff > .g-column,#bk485.b-headlines > .column,#bk485.b-headlines > .g-column,#bk485.b-album > .column,#bk485.b-album > .g-column,#bk485.b-tab > .column,#bk485.b-tab > .g-column,#bk485.b-accordion > .column,#bk485.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk485 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk492.b-plain > .column,#bk492.b-plain > .g-column,#bk492.b-both_diff > .column,#bk492.b-both_diff > .g-column,#bk492.b-headlines > .column,#bk492.b-headlines > .g-column,#bk492.b-album > .column,#bk492.b-album > .g-column,#bk492.b-tab > .column,#bk492.b-tab > .g-column,#bk492.b-accordion > .column,#bk492.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk486.b-plain > .column,#bk486.b-plain > .g-column,#bk486.b-both_diff > .column,#bk486.b-both_diff > .g-column,#bk486.b-headlines > .column,#bk486.b-headlines > .g-column,#bk486.b-album > .column,#bk486.b-album > .g-column,#bk486.b-tab > .column,#bk486.b-tab > .g-column,#bk486.b-accordion > .column,#bk486.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk487.b-plain > .column,#bk487.b-plain > .g-column,#bk487.b-both_diff > .column,#bk487.b-both_diff > .g-column,#bk487.b-headlines > .column,#bk487.b-headlines > .g-column,#bk487.b-album > .column,#bk487.b-album > .g-column,#bk487.b-tab > .column,#bk487.b-tab > .g-column,#bk487.b-accordion > .column,#bk487.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk487 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk488.b-plain > .column,#bk488.b-plain > .g-column,#bk488.b-both_diff > .column,#bk488.b-both_diff > .g-column,#bk488.b-headlines > .column,#bk488.b-headlines > .g-column,#bk488.b-album > .column,#bk488.b-album > .g-column,#bk488.b-tab > .column,#bk488.b-tab > .g-column,#bk488.b-accordion > .column,#bk488.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
