@charset "utf-8";
/* page setting
--------------------------------------------------------- */
@media (max-width: 641px) {
.bg-document { width:100%; }
#a-site_contents { width:100%; }
}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {padding:0px 0px 0px 0px ;	
 background-image: url(../_src/805/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {padding:0px 40px 40px 40px ;	
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0% 5% 0% 5% ;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk457 > div { margin:0 auto; max-width:100%; }
#bk459 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk466 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk458 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk460 > div { margin:0 auto; max-width:80%; }
#bk467 { background-color:#555555; }
#bk461 > div { margin:0 auto; max-width:80%; }
#bk462 > div { margin:0 auto; max-width:80%; }
#bk462 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
#bk463 > div { margin:0 auto; max-width:80%; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-side-a .b-plain > .column,.a-side-a .b-plain > .g-column,.a-side-a .b-both_diff > .column,.a-side-a .b-both_diff > .g-column,.a-side-a .b-headlines > .column,.a-side-a .b-headlines > .g-column,.a-side-a .b-album > .column,.a-side-a .b-album > .g-column,.a-side-a .b-tab > .column,.a-side-a .b-tab > .g-column,.a-side-a .b-accordion > .column,.a-side-a .b-accordion > .g-column,.a-side-b .b-plain > .column,.a-side-b .b-plain > .g-column,.a-side-b .b-both_diff > .column,.a-side-b .b-both_diff > .g-column,.a-side-b .b-headlines > .column,.a-side-b .b-headlines > .g-column,.a-side-b .b-album > .column,.a-side-b .b-album > .g-column,.a-side-b .b-tab > .column,.a-side-b .b-tab > .g-column,.a-side-b .b-accordion > .column,.a-side-b .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:98%; }
		#bk459 > div { padding: 0px; }
		#bk466 > div { padding: 0px; }
		#bk458.b-plain > .column,#bk458.b-plain > .g-column,#bk458.b-both_diff > .column,#bk458.b-both_diff > .g-column,#bk458.b-headlines > .column,#bk458.b-headlines > .g-column,#bk458.b-album > .column,#bk458.b-album > .g-column,#bk458.b-tab > .column,#bk458.b-tab > .g-column,#bk458.b-accordion > .column,#bk458.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk458 > div { padding: 15px; }
		#bk460.b-plain > .column,#bk460.b-plain > .g-column,#bk460.b-both_diff > .column,#bk460.b-both_diff > .g-column,#bk460.b-headlines > .column,#bk460.b-headlines > .g-column,#bk460.b-album > .column,#bk460.b-album > .g-column,#bk460.b-tab > .column,#bk460.b-tab > .g-column,#bk460.b-accordion > .column,#bk460.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk460 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk467.b-plain > .column,#bk467.b-plain > .g-column,#bk467.b-both_diff > .column,#bk467.b-both_diff > .g-column,#bk467.b-headlines > .column,#bk467.b-headlines > .g-column,#bk467.b-album > .column,#bk467.b-album > .g-column,#bk467.b-tab > .column,#bk467.b-tab > .g-column,#bk467.b-accordion > .column,#bk467.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk461.b-plain > .column,#bk461.b-plain > .g-column,#bk461.b-both_diff > .column,#bk461.b-both_diff > .g-column,#bk461.b-headlines > .column,#bk461.b-headlines > .g-column,#bk461.b-album > .column,#bk461.b-album > .g-column,#bk461.b-tab > .column,#bk461.b-tab > .g-column,#bk461.b-accordion > .column,#bk461.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk462.b-plain > .column,#bk462.b-plain > .g-column,#bk462.b-both_diff > .column,#bk462.b-both_diff > .g-column,#bk462.b-headlines > .column,#bk462.b-headlines > .g-column,#bk462.b-album > .column,#bk462.b-album > .g-column,#bk462.b-tab > .column,#bk462.b-tab > .g-column,#bk462.b-accordion > .column,#bk462.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk462 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk463.b-plain > .column,#bk463.b-plain > .g-column,#bk463.b-both_diff > .column,#bk463.b-both_diff > .g-column,#bk463.b-headlines > .column,#bk463.b-headlines > .g-column,#bk463.b-album > .column,#bk463.b-album > .g-column,#bk463.b-tab > .column,#bk463.b-tab > .g-column,#bk463.b-accordion > .column,#bk463.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
