@charset "utf-8";
/* page setting
--------------------------------------------------------- */
@media (max-width: 641px) {
.bg-document { width:100%; }
#a-site_contents { width:100%; }
}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {padding:0px 0px 0px 0px ;	
 background-image: url(../_src/1070/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {padding:0px 40px 40px 40px ;	
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0% 5% 0% 5% ;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk543 > div { margin:0 auto; max-width:100%; }
#bk545 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk553 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk544 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk546 > div { margin:0 auto; max-width:80%; }
#bk554 { background-color:#555555; }
#bk547 > div { margin:0 auto; max-width:80%; }
#bk549 > div { margin:0 auto; max-width:80%; }
#bk549 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
#bk555 > div { margin:0 auto; max-width:78%; }
#bk557 > div { margin:0 auto; max-width:80%; }
#bk550 > div { margin:0 auto; max-width:80%; }
#bk787 > div { margin:0 auto; max-width:80%; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-side-a .b-plain > .column,.a-side-a .b-plain > .g-column,.a-side-a .b-both_diff > .column,.a-side-a .b-both_diff > .g-column,.a-side-a .b-headlines > .column,.a-side-a .b-headlines > .g-column,.a-side-a .b-album > .column,.a-side-a .b-album > .g-column,.a-side-a .b-tab > .column,.a-side-a .b-tab > .g-column,.a-side-a .b-accordion > .column,.a-side-a .b-accordion > .g-column,.a-side-b .b-plain > .column,.a-side-b .b-plain > .g-column,.a-side-b .b-both_diff > .column,.a-side-b .b-both_diff > .g-column,.a-side-b .b-headlines > .column,.a-side-b .b-headlines > .g-column,.a-side-b .b-album > .column,.a-side-b .b-album > .g-column,.a-side-b .b-tab > .column,.a-side-b .b-tab > .g-column,.a-side-b .b-accordion > .column,.a-side-b .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk545 > div { padding: 0px; }
		#bk553 > div { padding: 0px; }
		#bk544.b-plain > .column,#bk544.b-plain > .g-column,#bk544.b-both_diff > .column,#bk544.b-both_diff > .g-column,#bk544.b-headlines > .column,#bk544.b-headlines > .g-column,#bk544.b-album > .column,#bk544.b-album > .g-column,#bk544.b-tab > .column,#bk544.b-tab > .g-column,#bk544.b-accordion > .column,#bk544.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk544 > div { padding: 15px; }
		#bk546.b-plain > .column,#bk546.b-plain > .g-column,#bk546.b-both_diff > .column,#bk546.b-both_diff > .g-column,#bk546.b-headlines > .column,#bk546.b-headlines > .g-column,#bk546.b-album > .column,#bk546.b-album > .g-column,#bk546.b-tab > .column,#bk546.b-tab > .g-column,#bk546.b-accordion > .column,#bk546.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk546 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk554.b-plain > .column,#bk554.b-plain > .g-column,#bk554.b-both_diff > .column,#bk554.b-both_diff > .g-column,#bk554.b-headlines > .column,#bk554.b-headlines > .g-column,#bk554.b-album > .column,#bk554.b-album > .g-column,#bk554.b-tab > .column,#bk554.b-tab > .g-column,#bk554.b-accordion > .column,#bk554.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk547.b-plain > .column,#bk547.b-plain > .g-column,#bk547.b-both_diff > .column,#bk547.b-both_diff > .g-column,#bk547.b-headlines > .column,#bk547.b-headlines > .g-column,#bk547.b-album > .column,#bk547.b-album > .g-column,#bk547.b-tab > .column,#bk547.b-tab > .g-column,#bk547.b-accordion > .column,#bk547.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk549.b-plain > .column,#bk549.b-plain > .g-column,#bk549.b-both_diff > .column,#bk549.b-both_diff > .g-column,#bk549.b-headlines > .column,#bk549.b-headlines > .g-column,#bk549.b-album > .column,#bk549.b-album > .g-column,#bk549.b-tab > .column,#bk549.b-tab > .g-column,#bk549.b-accordion > .column,#bk549.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk549 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk555.b-plain > .column,#bk555.b-plain > .g-column,#bk555.b-both_diff > .column,#bk555.b-both_diff > .g-column,#bk555.b-headlines > .column,#bk555.b-headlines > .g-column,#bk555.b-album > .column,#bk555.b-album > .g-column,#bk555.b-tab > .column,#bk555.b-tab > .g-column,#bk555.b-accordion > .column,#bk555.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk557.b-plain > .column,#bk557.b-plain > .g-column,#bk557.b-both_diff > .column,#bk557.b-both_diff > .g-column,#bk557.b-headlines > .column,#bk557.b-headlines > .g-column,#bk557.b-album > .column,#bk557.b-album > .g-column,#bk557.b-tab > .column,#bk557.b-tab > .g-column,#bk557.b-accordion > .column,#bk557.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk550.b-plain > .column,#bk550.b-plain > .g-column,#bk550.b-both_diff > .column,#bk550.b-both_diff > .g-column,#bk550.b-headlines > .column,#bk550.b-headlines > .g-column,#bk550.b-album > .column,#bk550.b-album > .g-column,#bk550.b-tab > .column,#bk550.b-tab > .g-column,#bk550.b-accordion > .column,#bk550.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk787.b-plain > .column,#bk787.b-plain > .g-column,#bk787.b-both_diff > .column,#bk787.b-both_diff > .g-column,#bk787.b-headlines > .column,#bk787.b-headlines > .g-column,#bk787.b-album > .column,#bk787.b-album > .g-column,#bk787.b-tab > .column,#bk787.b-tab > .g-column,#bk787.b-accordion > .column,#bk787.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
