@charset "utf-8";
/* page setting
--------------------------------------------------------- */
@media (max-width: 641px) {
.bg-document { width:100%; }
#a-site_contents { width:100%; }
}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {padding:0px 0px 0px 0px ;	
 background-image: url(../_src/2337/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {padding:0px 40px 40px 40px ;	
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0% 5% 0% 5% ;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk992 > div { margin:0 auto; max-width:100%; }
#bk994 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk1001 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk993 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk995 > div { margin:0 auto; max-width:80%; }
#bk1002 { background-color:#555555; }
#bk1004 > div { margin:0 auto; max-width:80%; }
#bk1004 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
#bk1003 > div { margin:0 auto; max-width:80%; }
#bk997 > div { margin:0 auto; max-width:80%; }
#bk997 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
#bk998 > div { margin:0 auto; max-width:80%; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-side-a .b-plain > .column,.a-side-a .b-plain > .g-column,.a-side-a .b-both_diff > .column,.a-side-a .b-both_diff > .g-column,.a-side-a .b-headlines > .column,.a-side-a .b-headlines > .g-column,.a-side-a .b-album > .column,.a-side-a .b-album > .g-column,.a-side-a .b-tab > .column,.a-side-a .b-tab > .g-column,.a-side-a .b-accordion > .column,.a-side-a .b-accordion > .g-column,.a-side-b .b-plain > .column,.a-side-b .b-plain > .g-column,.a-side-b .b-both_diff > .column,.a-side-b .b-both_diff > .g-column,.a-side-b .b-headlines > .column,.a-side-b .b-headlines > .g-column,.a-side-b .b-album > .column,.a-side-b .b-album > .g-column,.a-side-b .b-tab > .column,.a-side-b .b-tab > .g-column,.a-side-b .b-accordion > .column,.a-side-b .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:98%; }
		#bk994 > div { padding: 0px; }
		#bk1001 > div { padding: 0px; }
		#bk993.b-plain > .column,#bk993.b-plain > .g-column,#bk993.b-both_diff > .column,#bk993.b-both_diff > .g-column,#bk993.b-headlines > .column,#bk993.b-headlines > .g-column,#bk993.b-album > .column,#bk993.b-album > .g-column,#bk993.b-tab > .column,#bk993.b-tab > .g-column,#bk993.b-accordion > .column,#bk993.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk993 > div { padding: 15px; }
		#bk995.b-plain > .column,#bk995.b-plain > .g-column,#bk995.b-both_diff > .column,#bk995.b-both_diff > .g-column,#bk995.b-headlines > .column,#bk995.b-headlines > .g-column,#bk995.b-album > .column,#bk995.b-album > .g-column,#bk995.b-tab > .column,#bk995.b-tab > .g-column,#bk995.b-accordion > .column,#bk995.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk995 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk1002.b-plain > .column,#bk1002.b-plain > .g-column,#bk1002.b-both_diff > .column,#bk1002.b-both_diff > .g-column,#bk1002.b-headlines > .column,#bk1002.b-headlines > .g-column,#bk1002.b-album > .column,#bk1002.b-album > .g-column,#bk1002.b-tab > .column,#bk1002.b-tab > .g-column,#bk1002.b-accordion > .column,#bk1002.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk1004 > div { padding: 15px; }
		#bk1003.b-plain > .column,#bk1003.b-plain > .g-column,#bk1003.b-both_diff > .column,#bk1003.b-both_diff > .g-column,#bk1003.b-headlines > .column,#bk1003.b-headlines > .g-column,#bk1003.b-album > .column,#bk1003.b-album > .g-column,#bk1003.b-tab > .column,#bk1003.b-tab > .g-column,#bk1003.b-accordion > .column,#bk1003.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk997.b-plain > .column,#bk997.b-plain > .g-column,#bk997.b-both_diff > .column,#bk997.b-both_diff > .g-column,#bk997.b-headlines > .column,#bk997.b-headlines > .g-column,#bk997.b-album > .column,#bk997.b-album > .g-column,#bk997.b-tab > .column,#bk997.b-tab > .g-column,#bk997.b-accordion > .column,#bk997.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk997 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk998.b-plain > .column,#bk998.b-plain > .g-column,#bk998.b-both_diff > .column,#bk998.b-both_diff > .g-column,#bk998.b-headlines > .column,#bk998.b-headlines > .g-column,#bk998.b-album > .column,#bk998.b-album > .g-column,#bk998.b-tab > .column,#bk998.b-tab > .g-column,#bk998.b-accordion > .column,#bk998.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
