@charset "utf-8";
/* page setting
--------------------------------------------------------- */
@media (max-width: 641px) {
.bg-document { width:100%; }
#a-site_contents { width:100%; }
}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {padding:0px 0px 0px 0px ;	
 background-image: url(../_src/1237/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {padding:0px 40px 40px 40px ;	
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0% 5% 0% 5% ;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk735 > div { margin:0 auto; max-width:100%; }
#bk737 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk746 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk736 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk738 > div { margin:0 auto; max-width:80%; }
#bk747 { background-color:#555555; }
#bk817 > div { margin:0 auto; max-width:80%; }
#bk989 > div { margin:0 auto; max-width:80%; }
#bk740 > div { margin:0 auto; max-width:80%; }
#bk740 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
#bk743 > div { margin:0 auto; max-width:80%; }
#bk742 > div { margin:0 auto; max-width:80%; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-side-a .b-plain > .column,.a-side-a .b-plain > .g-column,.a-side-a .b-both_diff > .column,.a-side-a .b-both_diff > .g-column,.a-side-a .b-headlines > .column,.a-side-a .b-headlines > .g-column,.a-side-a .b-album > .column,.a-side-a .b-album > .g-column,.a-side-a .b-tab > .column,.a-side-a .b-tab > .g-column,.a-side-a .b-accordion > .column,.a-side-a .b-accordion > .g-column,.a-side-b .b-plain > .column,.a-side-b .b-plain > .g-column,.a-side-b .b-both_diff > .column,.a-side-b .b-both_diff > .g-column,.a-side-b .b-headlines > .column,.a-side-b .b-headlines > .g-column,.a-side-b .b-album > .column,.a-side-b .b-album > .g-column,.a-side-b .b-tab > .column,.a-side-b .b-tab > .g-column,.a-side-b .b-accordion > .column,.a-side-b .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:98%; }
		#bk737 > div { padding: 0px; }
		#bk746 > div { padding: 0px; }
		#bk736.b-plain > .column,#bk736.b-plain > .g-column,#bk736.b-both_diff > .column,#bk736.b-both_diff > .g-column,#bk736.b-headlines > .column,#bk736.b-headlines > .g-column,#bk736.b-album > .column,#bk736.b-album > .g-column,#bk736.b-tab > .column,#bk736.b-tab > .g-column,#bk736.b-accordion > .column,#bk736.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk736 > div { padding: 15px; }
		#bk738.b-plain > .column,#bk738.b-plain > .g-column,#bk738.b-both_diff > .column,#bk738.b-both_diff > .g-column,#bk738.b-headlines > .column,#bk738.b-headlines > .g-column,#bk738.b-album > .column,#bk738.b-album > .g-column,#bk738.b-tab > .column,#bk738.b-tab > .g-column,#bk738.b-accordion > .column,#bk738.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk738 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk747.b-plain > .column,#bk747.b-plain > .g-column,#bk747.b-both_diff > .column,#bk747.b-both_diff > .g-column,#bk747.b-headlines > .column,#bk747.b-headlines > .g-column,#bk747.b-album > .column,#bk747.b-album > .g-column,#bk747.b-tab > .column,#bk747.b-tab > .g-column,#bk747.b-accordion > .column,#bk747.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk817.b-plain > .column,#bk817.b-plain > .g-column,#bk817.b-both_diff > .column,#bk817.b-both_diff > .g-column,#bk817.b-headlines > .column,#bk817.b-headlines > .g-column,#bk817.b-album > .column,#bk817.b-album > .g-column,#bk817.b-tab > .column,#bk817.b-tab > .g-column,#bk817.b-accordion > .column,#bk817.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk989.b-plain > .column,#bk989.b-plain > .g-column,#bk989.b-both_diff > .column,#bk989.b-both_diff > .g-column,#bk989.b-headlines > .column,#bk989.b-headlines > .g-column,#bk989.b-album > .column,#bk989.b-album > .g-column,#bk989.b-tab > .column,#bk989.b-tab > .g-column,#bk989.b-accordion > .column,#bk989.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk740.b-plain > .column,#bk740.b-plain > .g-column,#bk740.b-both_diff > .column,#bk740.b-both_diff > .g-column,#bk740.b-headlines > .column,#bk740.b-headlines > .g-column,#bk740.b-album > .column,#bk740.b-album > .g-column,#bk740.b-tab > .column,#bk740.b-tab > .g-column,#bk740.b-accordion > .column,#bk740.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk740 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk743.b-plain > .column,#bk743.b-plain > .g-column,#bk743.b-both_diff > .column,#bk743.b-both_diff > .g-column,#bk743.b-headlines > .column,#bk743.b-headlines > .g-column,#bk743.b-album > .column,#bk743.b-album > .g-column,#bk743.b-tab > .column,#bk743.b-tab > .g-column,#bk743.b-accordion > .column,#bk743.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk742.b-plain > .column,#bk742.b-plain > .g-column,#bk742.b-both_diff > .column,#bk742.b-both_diff > .g-column,#bk742.b-headlines > .column,#bk742.b-headlines > .g-column,#bk742.b-album > .column,#bk742.b-album > .g-column,#bk742.b-tab > .column,#bk742.b-tab > .g-column,#bk742.b-accordion > .column,#bk742.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
