@charset "utf-8";
/* page setting
--------------------------------------------------------- */
@media (max-width: 641px) {
.bg-document { width:100%; }
#a-site_contents { width:100%; }
}


#page .bg-document { 
 }
#page { 
 }

#a-header {
	}
#a-billboard {padding:0px 0px 0px 0px ;	
 background-image: url(../_src/1137/img20160126103118265587.jpg); 
 background-position: center center; 
 background-size:cover; 
	}
#a-main {padding:0px 40px 40px 40px ;	
	}
#a-side-a {
	}
#a-side-b {
	}
#a-footer {
	}
#a-site_contents  { 
}

@media (max-width: 641px) {
#page .bg-document {  
  }

#page {  
  }

	#a-header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0% 5% 0% 5% ;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk598 > div { margin:0 auto; max-width:100%; }
#bk600 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 30px;  } 
#bk607 > div { padding-left: 10px; padding-top: 30px; padding-right: 0px; padding-bottom: 10px;  } 
#bk599 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 0px;  } 
#bk601 > div { margin:0 auto; max-width:80%; }
#bk608 { background-color:#555555; }
#bk602 > div { margin:0 auto; max-width:80%; }
#bk603 > div { margin:0 auto; max-width:80%; }
#bk603 > div { padding-left: 0px; padding-top: 30px; padding-right: 0px; padding-bottom: 0px;  } 
#bk604 > div { margin:0 auto; max-width:80%; }


@media (max-width: 641px) {
		.a-header .b-plain > .column,.a-header .b-plain > .g-column,.a-header .b-both_diff > .column,.a-header .b-both_diff > .g-column,.a-header .b-headlines > .column,.a-header .b-headlines > .g-column,.a-header .b-album > .column,.a-header .b-album > .g-column,.a-header .b-tab > .column,.a-header .b-tab > .g-column,.a-header .b-accordion > .column,.a-header .b-accordion > .g-column,.a-billboard .b-plain > .column,.a-billboard .b-plain > .g-column,.a-billboard .b-both_diff > .column,.a-billboard .b-both_diff > .g-column,.a-billboard .b-headlines > .column,.a-billboard .b-headlines > .g-column,.a-billboard .b-album > .column,.a-billboard .b-album > .g-column,.a-billboard .b-tab > .column,.a-billboard .b-tab > .g-column,.a-billboard .b-accordion > .column,.a-billboard .b-accordion > .g-column,.a-main .b-plain > .column,.a-main .b-plain > .g-column,.a-main .b-both_diff > .column,.a-main .b-both_diff > .g-column,.a-main .b-headlines > .column,.a-main .b-headlines > .g-column,.a-main .b-album > .column,.a-main .b-album > .g-column,.a-main .b-tab > .column,.a-main .b-tab > .g-column,.a-main .b-accordion > .column,.a-main .b-accordion > .g-column,.a-side-a .b-plain > .column,.a-side-a .b-plain > .g-column,.a-side-a .b-both_diff > .column,.a-side-a .b-both_diff > .g-column,.a-side-a .b-headlines > .column,.a-side-a .b-headlines > .g-column,.a-side-a .b-album > .column,.a-side-a .b-album > .g-column,.a-side-a .b-tab > .column,.a-side-a .b-tab > .g-column,.a-side-a .b-accordion > .column,.a-side-a .b-accordion > .g-column,.a-side-b .b-plain > .column,.a-side-b .b-plain > .g-column,.a-side-b .b-both_diff > .column,.a-side-b .b-both_diff > .g-column,.a-side-b .b-headlines > .column,.a-side-b .b-headlines > .g-column,.a-side-b .b-album > .column,.a-side-b .b-album > .g-column,.a-side-b .b-tab > .column,.a-side-b .b-tab > .g-column,.a-side-b .b-accordion > .column,.a-side-b .b-accordion > .g-column,.a-footer .b-plain > .column,.a-footer .b-plain > .g-column,.a-footer .b-both_diff > .column,.a-footer .b-both_diff > .g-column,.a-footer .b-headlines > .column,.a-footer .b-headlines > .g-column,.a-footer .b-album > .column,.a-footer .b-album > .g-column,.a-footer .b-tab > .column,.a-footer .b-tab > .g-column,.a-footer .b-accordion > .column,.a-footer .b-accordion > .g-column { margin:0 auto; max-width:98%; }
		#bk600 > div { padding: 0px; }
		#bk607 > div { padding: 0px; }
		#bk599.b-plain > .column,#bk599.b-plain > .g-column,#bk599.b-both_diff > .column,#bk599.b-both_diff > .g-column,#bk599.b-headlines > .column,#bk599.b-headlines > .g-column,#bk599.b-album > .column,#bk599.b-album > .g-column,#bk599.b-tab > .column,#bk599.b-tab > .g-column,#bk599.b-accordion > .column,#bk599.b-accordion > .g-column { margin:0 auto; max-width:90%; }
		#bk599 > div { padding: 15px; }
		#bk601.b-plain > .column,#bk601.b-plain > .g-column,#bk601.b-both_diff > .column,#bk601.b-both_diff > .g-column,#bk601.b-headlines > .column,#bk601.b-headlines > .g-column,#bk601.b-album > .column,#bk601.b-album > .g-column,#bk601.b-tab > .column,#bk601.b-tab > .g-column,#bk601.b-accordion > .column,#bk601.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk601 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk608.b-plain > .column,#bk608.b-plain > .g-column,#bk608.b-both_diff > .column,#bk608.b-both_diff > .g-column,#bk608.b-headlines > .column,#bk608.b-headlines > .g-column,#bk608.b-album > .column,#bk608.b-album > .g-column,#bk608.b-tab > .column,#bk608.b-tab > .g-column,#bk608.b-accordion > .column,#bk608.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk602.b-plain > .column,#bk602.b-plain > .g-column,#bk602.b-both_diff > .column,#bk602.b-both_diff > .g-column,#bk602.b-headlines > .column,#bk602.b-headlines > .g-column,#bk602.b-album > .column,#bk602.b-album > .g-column,#bk602.b-tab > .column,#bk602.b-tab > .g-column,#bk602.b-accordion > .column,#bk602.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk603.b-plain > .column,#bk603.b-plain > .g-column,#bk603.b-both_diff > .column,#bk603.b-both_diff > .g-column,#bk603.b-headlines > .column,#bk603.b-headlines > .g-column,#bk603.b-album > .column,#bk603.b-album > .g-column,#bk603.b-tab > .column,#bk603.b-tab > .g-column,#bk603.b-accordion > .column,#bk603.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk603 > div { padding-left: 0px; padding-top: 15px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk604.b-plain > .column,#bk604.b-plain > .g-column,#bk604.b-both_diff > .column,#bk604.b-both_diff > .g-column,#bk604.b-headlines > .column,#bk604.b-headlines > .g-column,#bk604.b-album > .column,#bk604.b-album > .g-column,#bk604.b-tab > .column,#bk604.b-tab > .g-column,#bk604.b-accordion > .column,#bk604.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}




@media (max-width: 641px) {
}
