@charset "UTF-8";
.-dress_pp001a a {
	color: #747474
}
.-dress_pp001a .c-menu li {
	border-color: #999
}
.-dress_pp001a .c-menu li:first-child {
	border-color: #999
}
.-dress_pp001a .c-menu li a {
	border-color: #555
}
.-dress_pp001a {
	color: #555;
	background-color: #fff
}
.-dress_pp001a .b-tab_navigation {
	font-size: 0
}
.-dress_pp001a .b-tab_navigation li {
	margin-right: 1px
}
.-dress_pp001a .b-tab_navigation li a {
	background-color: #ddd;
	color: inherit;
	padding: 1em
}
.-dress_pp001a .b-tab_navigation li.-active a, .-dress_pp001a .b-tab_navigation li a:hover {
	background-color: #999;
	padding: 1em
}
.-dress_pp001a .b-accordion .column {
	background: #eee
}
.-dress_pp001a .b-accordion_navigation a {
	background: #ddd
}
.-dress_pp001a .b-accordion_navigation.-active a, .-dress_pp001a .b-accordion_navigation a:hover {
	background: #ccc;
 filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	filter: alpha(opacity=100)
}
.-dress_pp001a .c-body {
	color: #8a8a8a;
	line-height: 1.9em;
	letter-spacing: .05em
}
.-dress_pp001a .c-page_title {
	padding-bottom: 15px
}
.-dress_pp001a .c-title {
	color: #555;
	font-size: 220%;
	line-height: 1.6;
	font-weight: 700
}
.-dress_pp001a .c-large_headline {
	color: #747474;
	font-size: 140%;
	padding-bottom: 15px;
	line-height: 1.6
}
.-dress_pp001a .c-small_headline {
	color: #747474;
	font-size: 120%;
	padding-bottom: 15px;
	line-height: 1.6em
}
.-dress_pp001a .c-lead {
	color: #747474;
	padding: 10px 0
}
.-dress_pp001a .c-enclosure {
	border-color: #555
}
.-dress_pp001a .c-credit {
	font-size: 80%
}
.-dress_pp001a .c-list_table th {
	background: #eee;
	border-top: 1px solid #999
}
.-dress_pp001a .c-list_table td {
	border-top: 1px solid #999
}
.-dress_pp001a .c-list_table tr:first-child th, .-dress_pp001a .c-list_table tr:first-child td {
	border-top: 0 none
}
.-dress_pp001a .c-list_news {
	border-top: 1px solid #999
}
.-dress_pp001a .c-hr {
	border-color: #999
}
.-dress_pp001a .m-motion.-f li a {
	color: #555
}
.-dress_pp001a .m-motion.-f > li:hover > a + ul > li:first-child:after, .-dress_pp001a .m-motion.-f > li:hover > .c-unlink + ul > li:first-child:after {
	border-top-color: #999
}
.-dress_pp001a .m-motion.-f > li > ul li:first-child:before {
	border-bottom-color: #999
}
.-dress_pp001a .m-motion.-f > li > ul > li a, .-dress_pp001a .m-motion.-f > li > ul > li .c-unlink {
	background-color: #ddd;
	border-bottom: 1px solid #eee
}
.-dress_pp001a .m-motion.-f > li > ul > li a:hover {
	background-color: #bbb;
	color: #555;
	border-bottom: 1px solid #555
}
.-dress_pp001a .m-motion.-g {
	margin: 0 auto;
	display: table
}

.-dress_pp001a .m-motion.-g .lavalamp-object {
	background-color: #bbb;
	border: none
}
.-dress_pp001a .m-motion.-g li {
	margin-left: 25px;
	line-height: 30px
}
.-dress_pp001a .m-motion.-j a {
	color: #555
}
.-dress_pp001a .m-motion.-j .lavalamp-object {
	border-top: 1px solid #999
}
.-dress_pp001a .m-motion.-h li a {
	background-color: #bbb;
	color: #555
}
.-dress_pp001a .m-motion.-h li a:hover {
 filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #ddd;
	width: 170px;
	padding-left: 40px
}
.-dress_pp001a .m-motion.-i li a {
	border: 1px solid #666;
	border-bottom-width: 3px;
	background-color: #bbb;
	-webkit-transition: all .4s ease-in;
	transition: all .4s ease-in;
	color: #555
}
.-dress_pp001a .m-motion.-i li a:hover {
	border-color: #999
}
.-dress_pp001a .c-list_indent td {
	padding-left: 1em;
	padding-bottom: 1.5em;
	padding-top: .8em
}
.-dress_pp001a .-menu_d li, .-dress_pp001a .-menu_e li {
	border-left: 1px solid
}
.-dress_pp001a .c-menu.-menu_d li:first-child, .-dress_pp001a .c-menu.-menu_e li:first-child {
	border: none
}
.-dress_pp001a .c-list-sign {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 1em;
	text-indent: -1em
}
.-dress_pp001a .m-motion.-j li {
	padding-top: .6em
}
.-dress_pp001a .c-menu li .c-unlink {
	color: #aaa
}
.-dress_pp001a .c-menu li .c-current {
	color: #000
}
.-dress_pp001a .c-link_top {
	display: inline-block;
	height: 82px;
	width: 82px;
	border-width: 0;
	background: transparent url(images/pagetop.png) no-repeat right top
}
.-dress_pp001a .c-link_top span {
	display: none
}
.-dress_pp001a .bg-window {
	background: transparent url(images/page_bg.png)
}
.-dress_pp001a .a-main {
	background: #fff url(images/main_bg.gif) repeat-x
}
.-dress_pp001a .b-float .g-column .column {
	background: #f0f0f0;
	margin-bottom: 20px;
	border-radius: 7px;
	padding: 20px
}
.-dress_pp001a .m-motion.-g li a {
	font-weight: 700;
	color: #747474;
	padding: 0 15px
}

@media screen and (max-width: 641px) {
.-dress_pp001a .m-motion.-g {
	display: block
}
.-dress_pp001a .c-sp_navigation_btn .c-sp-navigation_line1, .-dress_pp001a .c-sp_navigation_btn .c-sp-navigation_line2, .-dress_pp001a .c-sp_navigation_btn .c-sp-navigation_line3 {
	border-color: #555
}
.-dress_pp001a .c-sp_navigation_btn {
	border-color: #555
}
.-dress_pp001a #spNavigationTrigger.-js-menuPosition-left_top_fixed {
	left: 8px;
	top: 8px
}
.-dress_pp001a .m-motion.-g li {
	margin-left: 0;
	border-color: #999;
	background-color: #f0f0f0
}
.-dress_pp001a .m-motion.-g li a {
	margin: 0
}
}
